.nav-link {
    padding-left: 20px;
}

p{
    padding: 0;
    margin: 0;
}

body{
    font-family: "Open Sans";
    background-color:#FAFBFD;
    margin:0px;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: #0061FF;
    font-weight: bold;
}

#sign-out:hover{
    color: red;
    font-weight: bold;
}

.nav-atas{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.profile{
    display: flex;
    align-items: center;
}

.profpic{
    display: flex;
    justify-content: center;
    border:4px solid #0061FF;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 20px;
}

.body-kanankiri{
    margin: 10px 50px 10px 50px;
}

.content-pertama{
    display: flex;
    justify-content: space-between;
}

.account-balance{
    display: flex;
    margin-top: 50px;
}

.account{
    background-color: #0061FF;
    width: 273px;
    height: 216px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}